.main_bg
{
	background-color:#CCCCCC;
}
.padding
{
	padding:40px 10px 40px 10px;
}
.w3-content
{
	max-width:100%!important;
}
.white
{
	background-color:#fff;
	box-shadow: 1px 2px 3px 4px white;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
  vertical-align:middle!important;
}
.orange
{
	background-color:#FB9943;
}
.top-most
{
	padding:6px;
}
.top-most-right a
{
	color:#fff;
	font-size:16px;
}
.top-most-right a:hover
{
	color:#fff;
	text-decoration:none;
}
.top-most ul
{
	margin-left:-40px;
}
.top-most ul li
{
	float:left;
	list-style:none;
	margin-left:10px;
}
.top-most ul li img
{
	width:30px;
}
.top-most-right
{
	text-align:right;
}
.header-img h1
{
	margin-top:36px;
	margin-bottom:-10px;
}
.navbar-nav > li
{
	margin-top:4px;
	margin-bottom:4px;
}
.navbar-nav > li > a
{
	padding-top:6px!important;
	padding-bottom:6px!important;
	color:#fff!important;
	font-size:16px!important;
}
.navbar-nav > li > a:hover
{
	background-color:#FB9943!important;
	border-radius:4px;
}
.navbar
{
	min-height:38px!important;
	background-color:#0099FF!important;
	margin-bottom:4px!important
}
.header-img span
{
	font-size:16px;
}
.header-img
{
	background-image:url('../images/back.jpg');
	min-height:150px!important;
	background-size:100% 100%;
	margin-bottom:4px;
}
.para
{
	font-size:15px;
}
.mySlides img
{
	width:100%!important;
	height:400px;
}
.new_p_head
{
	padding:4px!important;
	font-size:16px;
	font-weight:bold;
}
.heading_cover_1
{
	width: 80%;
	padding: 4px;
	border-bottom-right-radius: 50px;
	padding-left: 15px;
	background-color: #FB9943;
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin-bottom:15px;
}
.heading_cover
{
	width: 350px;
	padding: 4px;
	border-bottom-right-radius: 50px;
	padding-left: 15px;
	background-color: #0099FF;
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin-bottom:15px;
}
.rightul a
{
	font-size:14px;
	color:#0000FF;
}
.rightul
{
	margin-left:-40px;
}
.rightul li
{
	line-height:20px;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
	list-style:none;
}
.navbar-default .navbar-toggle .icon-bar
{
	background-color:#fff!important;
}
@media (max-width: 480px) 
{
	.top-most-right
	{
		text-align:center;
		padding-top:8px;
	}
	.top-most ul
	{
		margin-left:50px;
	}
	.header-img h1
	{
		margin-top:0px!important;
		font-size:26px;
	}
	.header-img span
	{
		font-size:14px;
	}
	.header-img
	{
		padding-top:40px;
	}
	.heading_cover
	{
		width:300px;
	}
	.mySlides img
	{
		height:200px;
	}
}
.footer
{
	background-color:#6791F7;
	padding:20px;
}
.footer p
{
	color:#fff;
	font-size:16px;
}
.footer a
{
	color:#fff;
}