#contentboxright ul{ margin:auto; text-align:center; list-style:none; margin:0; }
#contentboxright  li{ margin:auto;  padding:2px; text-align:center; list-style:none; margin:0; background-color:#000; color:#fff; }
.cl{ clear:both;}
#title{ background-color:#ABE99E;  color:#000; margin:0 0 0 0; font-size:12px; text-align:center;}
#contentsearchbar p{ margin:auto;  padding:0px; text-align:center; font-size:20px;}

#header{ width:100%; border:0px solid #000; margin:auto; background-image:url('banner.jpg');  height:auto;}
#headertop{ width:100%; border:px solid #000; margin:auto; background-color:#000; color:#fff; }

.toplinkleft{ width:450px;border:0px solid #000; margin:auto; float:left; display:inline; font-size:14px; } 
.toplinkleft{ width:450px;border:0px solid #000; margin:auto; float:left; display:inline; font-size:14px; } 
.toplinkleft{ width:450px;border:0px solid #000; margin:auto; float:left; display:inline; font-size:14px; } 
.toplinkright{ width:400px	;border:0px solid #000; margin:auto; float:left; display:inline; text-align:right; font-size:14px;  } 
.toplogoleft{ width:500px; border:0px solid #000; margin:auto; float:left; color:#FE6401; display:inline;font-size:26px; 
				text-bottom:x-fast;	} 
.topsearchbar{ width:400px;border:0px solid #000; margin:auto; float:left; display:inline;  } 
 
#contentmain{ width:960px; border-top:5px solid #A3A3A3;  border-left:5px solid #A3A3A3; 
					border-right:5px solid #A3A3A3; margin:auto; border-top-left-radius:5px; border-top-right-radius:5px;  
					padding:2px; margin-top:20px; background-color:#fff;  opacity: 0.9;}
#content{ width:960px; border:0px solid #000; margin:auto; padding:2px;}
    
#contentsearchbar{ width:960px;  border:0px solid #000; margin:auto; margin-top:2px; top:0; padding:2px;  }
#contentsearchbar p{ font-size:30px;  margin:15px;  }
#contentsearchbarinner{ width:700px;  border:0px solid #000; margin:auto; margin-top:2px; top:0; margin-top:15px;margin-bottom:15px;  }
#contentsearchbar ul li{ float:left; display: inline-block; width:130px; height:auto; padding-top:0px; 
						border:0px solid #000; margin:auto; }
#contentmaincontent{ width:960px;  border:0px solid #000; margin:auto; margin-top:2px; position:relative; padding:2px;}
#contentboxleft{ width:170px;  border:0px solid #000; float:left; display:inline; margin:auto; margin-left:1px; position:relative;}
#contentboxcenter{ width:600px;  border:0px solid #000; float:left; display:inline; font-size:12px; text-align:justify;  
					margin:auto; margin-left:1px;}
#contentboxright{ width:200px;  border:0px solid #000; float:right; display:block;  margin:auto; margin-left:2px; position:relative;}


#selectbox{ border: 2px solid #21FFFF; width: 220px;
			padding: 5px; color: #910000; font-size:14px; font-weight: bold;}

#selectbox1{ border: 2px solid #21FFFF; width: 160px; margin:auto;
			padding: 5px; color: #910000; font-size:14px; font-weight: bold;}
			
#selectleft{ border: 2px solid #21FFFF; width: 150px;  margin-left:5px;
			padding: 5px; color: #910000; font-size:14px; font-weight: bold;}
			
#sbutton{ border: 2px solid #21FFFF;  background-color: #21FFFF; 
		width: 150px; padding:10px;   margin-left:5px;}
#sbutton:hover{color:#fff; 
               border:2px solid #000;
        background-color:green;
	-webkit-transition: background-color 0.2s linear;
	-moz-transition: background-color 0.2s linear;
	transition: background-color 0.5s linear;}
