/**
 * 1.0 Color
 * -----------------------------------------------------------------------------
 */

/**
 * 2.0 Background
 * -----------------------------------------------------------------------------
 */

/**
 * 3.0 Border Color
 * -----------------------------------------------------------------------------
 */

#secondary-nav ul li a:hover, #secondary-nav ul li a:active, .content-area .entry-title a:hover,
.content-area .entry-category a, .content-area .entry-category a:hover, #related-content .entry-title a:hover{
	color: #cc3300;
}
#secondary-nav ul li a:hover i, #secondary-nav ul li a:active i{
	background-color: #cc3300;
}
a:hover {
	color: #cc3300;
}
.color1 {
	color: #8c8079;
}
.color2 {
	color: #71a42f;
}
.color3 {
	color: #007bb6;
}
.color4 {
	color: #ff6644;
}
.color5 {
	color: #37b6bd;
}
.color6 {
	color: #bfa980;
}
.color7 {
	color: #47a7d7;
}
.color9 {
	color: #71a42f;
}
.color8 {
	color: #b60002;
}