/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 24, 2014, 1:29:11 PM
    Author     : Vikas
    
*/


@media all and (max-width:1200px) {
   
#leftarea{ z-index: -10 !important;}
#rightarea{z-index: -10 !important;}
}
#leftarea{ border: 1px solid #003399; width: 120px; height: 600px; padding: 2px; left: 5px; top: 40px; position: fixed;}
#rightarea{ border: 1px solid #003399; width: 120px; height: 600px; padding: 2px; right: 5px; top: 40px; position: fixed; }
body{ margin: 0; bottom: 0; top: 0; left: 0; right:0; padding: 0; background-color :#f6f1f1 }
.cl{clear: both;}
p{ font-size: 16px; text-align: justify;}
h1{ border: 1px solid #0099FF; background-color: #0099FF; color: #fff; margin-top: -2px; font-size: 18px; font-family: 'kruti'; width: 55%; border-bottom-right-radius:35px;  }
h2{font-family: 'kruti';}
h3{ border: 0px solid #0099FF ; font-size: 40px; margin-top: 0px; color: #003399}
#contect img{ border: 1px solid #ccccff; padding: 2px;}
table{border: 1px solid#ccccff; border-collapse: collapse; margin: auto; width: 98%; margin: 10px; text-align: center;}
@font-face {
  font-family: 'kruti';
  font-style: normal;
  font-weight: 700;
  src: url('font/Kruti_Dev_010.ttf');
  
}
@font-face {
  font-family: 'kruti1';
  font-style: normal;
  font-weight: 700;
  src:url('font/Kruti_Dev_040__Thin.ttf');
  
}
#midabox{margin:auto; border:1px solid #444; padding:2px; margin:5px; width:960px}
#midabox img {margin:auto;}
#headerp {text-align:right; color:#fff; background-color:#EF873E; text-decoration: blink;
 border:0px solid #000; margin:auto;}	
 @-webkit-keyframes color-change {
        
        50% { color: #fff; }
        100% { color: #000; }
    }
	    @-moz-keyframes color-change {
        50% { color: #fff; }
        100% { color: #000; }
    }
    @-ms-keyframes color-change {
      
        50% { color: #fff; }
        100% { color: #000; }
    }
    @-o-keyframes color-change {
      
        50% { color: #fff; }
        100% { color: #000; }
    }
    @keyframes color-change {
        0% { color: #000; }
        50% { color: #fff; }
        100% { color: #000; }
    }
 #headerp a{ text-decoration:none; -webkit-animation: color-change 1s infinite;
        -moz-animation: color-change 1s infinite;
        -o-animation: color-change 1s infinite;
        -ms-animation: color-change 1s infinite;
        animation: color-change 1s infinite; color:#fff;}  		
#headerp a:hover{ text-decoration:underline; -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;}	
#maincontainer{ border-top: 0px solid #55BBFF;;
                 border-left: 3px solid #55BBFF; 
                border-right: 3px solid #55BBFF;
                border-bottom: 20px solid #55BBFF;
                box-shadow: 2px 2px 3px #55BBFF;
                background-color: #fff;
                
                
                width: 1000px;
                height: auto;
                padding: 2px;
                margin: auto; z-index: 2;}
#headerconatiner{border: 0px solid #ff6666; 
                width: 990px;
                height: auto;
                top:0;
				padding:5px;
                margin: auto; 
				background-image:url('social/back4.jpg');
				
				color:#fff !important;
				}

				
#headerconatinerleft{border: 0px solid #ff6666; 
                width: 500px;
                height: 130px;
                font-family: kruti;
                font-size: 45px;
                color: #ff6666;
                
                margin: auto; display: inline; float: left; }
#headerconatinerleft a{text-decoration: none; color:#003399 }
#headerconatinerright{border: 0px solid #ff6666; 
                width: 400px;
                height: auto;
                
                margin: auto;
                display: inline; float: right; position: relative; }
#headerconatinerright p{ color: #fff; font-size: 16px; 
							line-height: 10px; font-family: sans-serif;  
							text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;}
#headerconatinerright a{font-size:12px; text-decoration:none; color:#000;}
#menu{border: 0px solid #ff6666; 
                width: 990px;
                // font-family: 'kruti';
                text-align: center;
                padding: 2px;
                 margin-left: -15px;
                margin: auto;
                margin-top: 5px;
                background-color: #0099FF;
                color: #fff;
                }
#menutext{font-family: 'kruti';}
#menu a{color: #fff; text-decoration: none;}
#menu a:hover{color: #ffff00;}

#slider{border: 5px solid#ccccff; 
                width: 960px;
                height: 300px;
                padding: 2px;
                text-align: center;
                margin: auto;
                margin-top:10px;
                border-radius: 5px;
               
                
    }
    
#content{ border: 0px solid #ff6666; 
                width: 990px;
                //height: 100px;
                padding: 5px;
                margin: auto;
                text-align: justify;
                margin-top: 5px;}  
#contentleft{border-right: 2px solid#ccccff; 
                width: 72%;
                height: auto;
                padding: 5px;
                margin: auto;
                display: inline; float: left; position: relative;}

#historymanpic{border: 1px solid #0099FF;margin: 10px;  height: 150px; float: left; padding: 2px; display: inline; position: relative;}
#historymantext{border: 0px solid #0099FF;  width:99%; padding: 5px; float: right; display: inline; position: relative;}
#historymantext p{margin-left: 10px;}
#contentright{border: 0px solid #ff6666; 
                width: 25%;
                height: auto;
                padding: 2px;
                margin: auto;
                display: inline; float: right; position: relative;}
#footer{ border: 1px solid#ccccff; 
                width: 99%;
                height: auto;
                padding: 2px; 
                font-size: 18px;
                margin: auto;
                text-align: center;
                line-height: 5px;
                
                margin-top: 5px;  }
#footer p{font-size: 14px; text-align: center;}


#touristpage{ border: 0px solid #ff6666;
               margin: auto;
               margin-top: 5px;
               width: 99%;
               height: auto;
               padding: 2px;}
#tourist-box{border: 1px solid#ccccff; width: 99%; height: auto; padding: 5px; margin: auto; margin-top: 5px;}
#touristpageleftbox{border: 1px solid #ccccff; width:200px; margin-left: 10px; height: 200px; display: inline; float: left; padding: 5px; }
#touristpagerightbox{border: 0px solid #ccccff; width:74%; margin-left: 10px; height: 200px; display: inline; float: left; padding: 5px;}
#tourist-box1{border: 1px solid #ccccff; width: 98%; height: auto; padding: 5px; margin: auto; margin-top: 5px;}
#touristpageleftbox1{border: 0px solid #ccccff; width:74%; margin-left: 10px; height: 200px; display: inline; float: left; padding: 5px; }
#touristpagerightbox1{border: 1px solid #ccccff; width:200px; margin-left: 10px; height: 200px; display: inline; float: right; padding: 5px;}
#contentleft ul { border:0px solid #000; margin-left:-20px; width:95%; padding:5px; margin:auto; position:relative; }
#contentleft ul li{ border:1px solid #AAB2B3;  margin:5px; width:150px; height:150px;
               padding:2px; list-style:none; float:left; display:inline; }