/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   @import url(http://fonts.googleapis.com/css?family=Open+Sans);
   @import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,800);
   
        body { font-family: 'Open Sans', sans-serif; }
		.header_top_bar {min-height:23px; background:#158438 ;}
		.header_top_bar a {color:#fff !important;padding-left:5px;}
		.header_top_bar a:hover {color:#409CFF !important;}
		.header_top_contacts { padding-top:5px; color:#fff; text-align:right; font-size:12px;}
		.header { background:#F37126; padding-top:10px;padding-bottom:10px;}
		.header .navbar-default {background: none !important ;box-shadow: none !important;border: none;}
		.header .navbar-default { margin-bottom:0px !important;}
		.lower_div { width:100%; height:370px; background:#00A64E; overflow:hidden; }
		.lower_div .carousel-control { top:-50%; }
		.lower_div .carousel-control .icon-next, .carousel-control .glyphicon-chevron-right { right:15%; }
		.lower_div .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left { left:15%; }
		.upper_div { width:100%; min-height:550px; background:rgba(238,238,238, 0); position:absolute; top:102px; padding-top:10px;}
		.carousel-control.left, .carousel-control.right { z-index:1; background:none;color:#409CFF !important; }
		.form_box1 { min-height:250px;background:rgba(0,0,0,0.8); padding-bottom:10px;}
		.form_box1 hr { margin-top:5px;margin-bottom:10px;}
		.nopadding {padding: 0 !important;margin: 0 !important;}
		.nopadleft {padding-left: 0 !important;}
		.navbar-brand {  font-size: 32px;  color: #fff !important;  font-weight: bold; text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); }
		.navbar-brand:hover  { color:#fff !important; }
		h1 { font-size:25px;}
		h2 { font-size:20px;}
		.header .navbar-default a { color:#fff !important; font-weight:bold;}
		.mainNav  a:hover { color:#000 !important;}
		.header .navbar-default .active a { color:#000 !important;}
		.main_intro_box .mainHeading { font-size:26px;font-family: 'Merriweather Sans', sans-serif; text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); color:#fff}
		.mainPara { font-size:22px; color:#fff; text-align:right;line-height: 24px;}
		.mainParaSubText { font-size:16px !important; line-height:18px !important; }
		.company_logo_icon { padding-right:10px;  margin-top: -14px;}
		.mainPara2 { font-size:13px; color:#fff;}
		.latest_news_cont { background:#DF1C26; min-height:40px;}
		.marquee-with-options	{  width: 100%;  overflow: hidden; color:#fff; padding-top:10px; font-size:16px; height:35px; 	}
		.marquee-with-options2	{  width: 100%;  overflow: hidden; color:#fff; padding-top:10px; font-size:16px; height:250px; 	}
		
		.errorBox { font-size:12px; color:#f00; }
		.errorBox label { display:block !important; margin-bottom:2px !important;}
		
		.party_vision_cont {background:#158438; padding-top:10px; padding-bottom:20px;}
		.local_gallery_cont {padding-top:10px; padding-bottom:20px;}
		
		
		.marTopmin30 { margin-top:4px;}
		
		.padtop19 { padding-top:19px;}
		.mainHeading2 { font-size:32px;font-family: 'Merriweather Sans', sans-serif; text-shadow: 2px 2px 2px rgba(0, 0, 0, 1); color:#fff; text-align}
		
		
		.greenPatch {  background: #00A64E;   min-height: 96px;  clear: both;  margin-top:-94px;}
		.mainPic { position:relative; z-index:1; top:14px;}

		.form_box1 h2 { color:#fff; }
		.form_box1 input[type="text"], .form_box1 textarea { border-radius:0px; }

		.box1 { width:100%; min-height:200px;clear:both; margin-top:20px;}
		.box1 p, .box1 h2 { text-align:center;}
		.box1 .fa { border: 0;  color: #0087cc !important; cursor: pointer; margin: 0;  outline: 0;  transition: all .1s linear; }
		.box1 .fa:hover {   transform: translateY(5px); text-shadow: 0px 2px 5px #353535;}
		.data_cont1 { min-height:87px; background:#353535 ; padding-top:20px; padding-bottom:20px;}
		.data_cont2 { min-height:60px; background:url(../img/mediaBG.png) #00A64E; padding-top:10px;}
		.panel_box {border-radius: 0 ; border:0px;}
		.box_cont {border-radius: 0 ; border:0px; min-height:200px;}
		.panel_box .panel-heading { background:#00A64E !important;border-radius: 0 ; color:#fff; }
		.inner_box1 { min-height:150px; background:#eee;}
		
		#pictureGallery3  li { margin-bottom:15px;}
		
		.mobNav { font-size:20px; color:#fff}
		
		.data_cont3 { min-height:300px; background:#DD1E25; padding-top:10px;}
		
		#pictureGallery li  { margin-bottom:20px;}
		#pictureGallery2 li  { margin-bottom:20px;}
		
		#myform td { border:none;}
		
		.footer_bottom { background:#158438; padding-top:10px; padding-bottom:10px; color:#fff }
		.footer_bottom 	a { text-decoration:none; color:#fff }
		
		
		.data_cont4 { min-height:300px; background:#EEEEEE; padding-top:10px; padding-bottom:20px;}

		#map-canvas { height:200px; border:1px solid #000 }


		.img-thumbnail img { max-height:168px;}

		.primary-slider .much-div .much_selector {display: inline-block;color: #ecd704;font-size: 2em;cursor: pointer;height: 100px;overflow:hidden;margin-bottom: 0px;padding: 0;width: 10%;margin-top:70px;float: left;text-align: left;}
		.primary-slider .much-div #muchNext {text-align: right;text-indent: -10px;}
		.primary-slider .much-div #such-ul {width: 80%;min-height:218px;overflow: hidden;position: relative;list-style: none;display: inline-block;padding: 0;margin: 0;margin-top:0px;float: left;}
		.primary-slider .much-div #such-ul li {text-align: center;width: 100%; background:#eee; min-height:200px;}
		.primary-slider .much-div #such-ul li .much_select {display: block;}
		.demo1 li { margin-top:5px; border-bottom:1px dotted #353535; padding-bottom:5px;}
		.links_box li { font-size:15px; padding-bottom:10px; }
		.links_box li:last-child { padding-bottom:0px; }
		.links_box li a { text-decoration:none; padding-left:5px; }

		/* Small Devices, Tablets */
		@media only screen and (max-width : 768px) {

			.main_nav_cont  .container { padding-left:0px !important; padding-right:0px !important;}
			.header_right_data { width:100%;border:1px solid #fff; min-height:100px; float:none; margin-top:10px; }
			.header_top_contacts { text-align:center;}
			.header_top_contacts li { display:block !important; margin-bottom:5px; }
			.header .nav { float:none !important;}
			.upper_div  {position:inherit; top:0px; min-height:520px;}
			.lower_div { height:auto;}
			.form_box1  { padding-top:10px;}
			.greenPatch {position: inherit;   margin-top: 0px;}
			.upper_div  {background: #00A64E;} 
			.mainPic { position: inherit;margin: 10px auto 50px auto; top:0px}
			.mainPara{ text-align:center;}
			.navbar-brand {    font-size: 13px;}
			.mobNav { font-size: 10px; color: #fff; margin-bottom: 0px !important;}
			.company_logo_icon {   padding-right: 10px;  margin-top: -4px;  max-height: 33px;}
			
		}
		
		/* Small Devices, Tablets */
		@media (min-width : 768px) and (max-width : 991px) {
			.greenPatch {position: inherit;   margin-top: 0px;}
			.lower_div { height: 271px;}
			.mainPic { top: 99px;}
			
		}
		@media (min-width : 992px) and (max-width : 1199px) {
			
			.lower_div { height: 307px;}
			
			
		}
















